<div *ngIf="product.title" class="card mb-3">
  <img
    class="card-img-top product-card-img"
    [src]="product.imageUrl"
    alt="{{ product.title }}"
    *ngIf="product.imageUrl && product.status === 'In Stock'; else opacity"
  />
  <ng-template #opacity>
    <img
      class="card-img-top product-card-img"
      [src]="product.imageUrl"
      alt="{{ product.title }}"
      style="opacity: 0.3"
    />
  </ng-template>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <h6 class="card-title">{{ product.price | currency: "USD":true }}</h6>
    <h6 class="text-success" *ngIf="product.status === 'In Stock'; else danger">
      {{ product.status }}
    </h6>
    <ng-template #danger>
      <h6 class="text-danger" *ngIf="product.status === 'Out Of Stock'">
        {{ product.status }}
      </h6>
    </ng-template>
  </div>
</div>
