<div class="row">
  <div class="col-md-6">
    <!--    in all our input fields, we change the ngModel to two way binding [(ngModel)]="product.theInputFieldName"-->
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title </label>
        <input
          id="title"
          type="text"
          class="form-control"
          [(ngModel)]="product.title"
          name="title"
          #title="ngModel"
          required
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="price"
            type="number"
            class="form-control"
            [(ngModel)]="product.price"
            name="price"
            required
            #price="ngModel"
            [min]="0"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price?.errors.required">Price is required.</div>
          <div *ngIf="price?.errors.min">Price should be 0 or higher</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category </label>
        <select
          id="category"
          class="form-control"
          [(ngModel)]="product.category"
          name="category"
          required
          #category="ngModel"
        >
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.$key">
            {{ c.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Category is required.
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image Url </label>
        <input
          id="imageUrl"
          type="text"
          class="form-control"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          required
          #imageUrl="ngModel"
          url
        />
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid"
        >
          <div *ngIf="imageUrl?.errors.required">ImageUrl is required.</div>
          <div *ngIf="imageUrl?.errors.url">Please enter a valid URL.</div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="delete()"
        [disabled]="!f.valid"
      >
        Delete
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <!--    we moved our code here for rendering the card to the product card component and we pass the two props the component needs: - 'product' which goes to the product state in our logic here and the 2nd props is [show-actions] - which is for rendering the button, we set this to false here bcos we dont want to render the button in the product-form component-->
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>
