/*.title-row {
  border-bottom: 1px solid rgba(131, 131, 131, 0.77);
}*/
p.stock label {
  color: #000;
  padding-right: 5px;
  font-weight: 400;
}
/*p.stock.in-stock {*/
/*color: #8bc500;*/
/*}*/

/* Media query for screens greater than 576px, tablets and desktop */
/* Anything we hide here will be hidden on tablets and desktops */
/* Anything we show here will be shown on tablets and desktops */
@media screen and (min-width: 576px) {
  #icon-mobile {
    display: none;
  }
}
