<div class="row title-row mb-3">
  <div class="col-md-12">
    <h1>
      {{ product.title }}
      <a href="https://facebook.com">
        <img
          src="../../../../assets/icons/fb1.png"
          alt="Facebook"
          style="width: 40px; height: 40px;"
          class="float-md-right mr-2 d-none d-md-block"
        />
      </a>
      <a href="https://twitter.com">
        <img
          src="../../../../assets/icons/twitter2.png"
          alt="Twitter"
          style="width: 40px; height: 40px;"
          class="float-md-right mr-2 d-none d-md-block"
        />
      </a>
      <a href="https://pinterest.com">
        <img
          src="../../../../assets/icons/pin-interest.png"
          alt="Twitter"
          style="width: 40px; height: 40px;"
          class="float-md-right mr-2 d-none d-md-block"
        />
      </a>
      <a href="https://youtube.com">
        <img
          src="../../../../assets/icons/youtube.png"
          alt="Twitter"
          style="width: 40px; height: 40px;"
          class="float-md-right mr-2 d-none d-md-block"
        />
      </a>
    </h1>
  </div>
</div>
<hr />

<!--<div class="col-md-7"></div>-->

<img [src]="product.imageUrl" class="w-25 h-25" />

<b>
  <p>{{ product.price | currency: "USD":true }}</p>
</b>
<p
  class="stock in-stock text-success"
  *ngIf="product.status === 'In Stock'; else stockOut"
>
  <label>Status:</label> {{ product.status }}
</p>
<ng-template #stockOut>
  <p class="stock in-stock text-danger">
    <label>Status:</label> {{ product.status }}
  </p>
</ng-template>
<p>
  Category:
  <b>
    <i class="fas fa-leaf" style="color: #b21f2d"></i> {{ product.category }}</b
  >
</p>
<button
  class="btn btn-primary"
  (click)="addToCart()"
  *ngIf="product.status === 'In Stock'; else danger"
>
  Add to cart
</button>
<ng-template #danger>
  <button class="btn btn-primary" (click)="addToCart()" hidden>
    Add to cart
  </button>
</ng-template>
<div id="icon-mobile" class="mb-5">
  <hr />
  <a href="https://facebook.com">
    <img
      src="../../../../assets/icons/fb1.png"
      alt="Facebook"
      style="width: 40px; height: 40px;"
      class=" mr-2"
    />
  </a>
  <a href="https://twitter.com">
    <img
      src="../../../../assets/icons/twitter2.png"
      alt="Twitter"
      style="width: 40px; height: 40px;"
      class=" mr-2"
    />
  </a>
  <a href="https://pinterest.com">
    <img
      src="../../../../assets/icons/pin-interest.png"
      alt="Twitter"
      style="width: 40px; height: 40px;"
      class=" mr-2"
    />
  </a>
  <a href="https://youtube.com">
    <img
      src="../../../../assets/icons/youtube.png"
      alt="Twitter"
      style="width: 40px; height: 40px;"
      class=" mr-2"
    />
  </a>
</div>
